.faq-container {
  /* max-width: 1200px; */
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  font-family: Arial, sans-serif;
}

.faq-container h1 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0px;
  font-size: 2em;
  color: #333;
}

.faq-content {
  display: inline;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  gap: 20px;
}

.faq-item {
  background: #f9f9f9;
  margin-top: 15px; /* this is the last change */
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.faq-item:hover {
  transform: scale(1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 2);
}

.faq-question {
  margin: 0;
  font-size: 1.1em;
  color: #000;
}

.faq-answer {
  margin-top: 10px;
  font-size: 1em;
  color: #555;
}
